//
//  debug.xcconfig
//  Telegram
//
//  Created by Mikhail Filimonov on 29.11.2021.
//  Copyright © 2021 Telegram. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "common.xcconfig"

DSA_PEM_FILE = dsa_pub.pem
// Focus fork: do not fetch official Telegram appcast (Sparkle is gated off in code when FocusProduct.isEnabled).
SFEED_URL = https://invalid.invalid/focus-fork-no-updates.xml
SOURCE = DEBUG

TYPE = -D'BETA'
OTHER_SWIFT_FLAGS = $(TYPE)
